<h1>Edit a Therapy Note for <%= @student.fullname %> </h1>

<%= render 'form' %>

<p>
  <%= link_to 'Cancel', student_sessions_path(@student) %>
</p>
<p>
  <%= link_to 'Delete Note', student_session_path(@student, @session), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
