<h1>My Caseload</h1>

<% @students.each do |student| %>
  <article>
    <%= link_to 'Edit', student %>
    <%= student.fullname %>
    Grade
    <%= student.grade %>

    IEP Date
    <%= student.iep_date %>
  </article>
<% end %>
