<h1>My Caseload</h1>

<% @students.each do |student| %>
  <article>
    <header>
      <h2><%= link_to student.first_name, student %></h2>
    </header>
    <table>
      <tr>
        <th>Triennial?</th>
        <td><%= student.triennial %></td>
      </tr>
      <tr>
        <th>IEP Date</th>
        <td><%= student.iep_date %></td>
      </tr>
      <tr>
        <th>IEP Hours</th>
        <td><%= student.min_hours %></td>
      </tr>
    </table>
  </article>
<% end %>
