<h1>My Caseload</h1>


  <table>

    <thead>
      <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>IEP Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
      <tr>
        <td><%= student.fullname %></td>
        <td><%= student.grade %></td>
        <td><%= l student.iep_date, format: :short_date %></td>
        <td><%= link_to 'Edit', student %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
