 <% if object.errors.any? %>
 <section id="errors">
   <header data-alert class='alert-box alert round'>
     <p>
       <%= object.class.name.titleize.downcase %> could not be saved.
     </p>
    </header>
   <ul>
     <% object.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
 </section>
 <% end %>
