// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
  margin-bottom: 10%;
}

.diagnosis {
  margin-top: 5%;
}

.student-header-wrapper {
  margin-bottom: 2%;
}
