/ Navbar
%link{:href => "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css", :rel => "stylesheet"}
  %nav.menu
    %h1.name
      %i.fi-clipboard-notes
      CASELOAD
    %ul.inline-list
      %li
        = nav_link 'All Students', root_path
      %li
        = nav_link 'Add Student', new_student_path
    %ul.inline-list.hide-for-small-only.account-action
      %li
        %a{"data-reveal-id" => "myModal", :href => "#"} Login
    %a.account.hide-for-medium-up{"data-reveal-id" => "myModal", :href => "#"}
      %i.fi-unlock
  / modal content
  #myModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "login or sign up", "data-reveal" => "", :role => "dialog"}
    .row
      .large-6.columns.auth-plain
        .signup-panel.left-solid
          %p.welcome Registered Users
          %form
            .row.collapse
              .small-2.columns
                %span.prefix
                  %i.fi-torso-female
              .small-10.columns
                %input{:placeholder => "username", :type => "text"}
            .row.collapse
              .small-2.columns
                %span.prefix
                  %i.fi-lock
              .small-10.columns
                %input{:placeholder => "password", :type => "text"}
          %a.button{:href => "#"} Log In
      .large-6.columns.auth-plain
        .signup-panel.newusers
          %p.welcome New User?
          %p Please use this option to create a new account. As a registered user, you will have access to the students on your caseload.
          %br
            %a.button{:href => new_user_path} Sign Up
    %a.close-reveal-modal{"aria-label" => "Close"} ×

/ Sidebar
